<div class="px-4 lg:px-8">
  <div class="flex w-full items-center text-sm tracking-wider">
    <div class="flex-1">
      <ul class="flex space-x-4 items-center">
        {%- if section.settings.menu != blank -%}
          {%- for link in section.settings.menu.links -%}
            <li class="relative hidden lg:block">
              <a href="{{ link.url }}" class="flex items-center py-4 hover:text-primary-600">
                <span>{{ link.title }}</span>
                {%- if link.children -%}
                  {% render 'icon-chevron-down' %}
                {%- endif -%}
              </a>

              {%- if link.children -%}
                
              {%- endif -%}
            </li>
          {%- endfor -%}
        {%- endif -%}

        <li class="lg:hidden !ml-0">
          <a href="#" class="block py-4 hover:text-primary-600">
            {% render 'icon-menu' %}
          </a>
        </li>
      </ul>
    </div>

    <div class="flex-none text-center">
      <a href="{{ routes.root_url }}" class="block py-6">
        {%- if section.settings.logo != blank -%}
          {%- assign image_size = section.settings.logo_width | append: 'x' -%}
          <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
            src="{{ section.settings.logo | img_url: image_size }}"
            loading="lazy"
            class="mx-auto w-[120px] md:w-initial"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
          >
        {%- else -%}
          <h2 class="md:text-xl font-semibold">{{ shop.name }}</h2>
        {%- endif -%}
      </a>
    </div>

    <div class="flex-1">
      <ul class="flex space-x-4 items-center justify-end">
        <li class="relative hidden lg:block">
          {%- assign xdata = "{
            open: false,
            toggle() {
              this.open = !this.open
            },

            iso_code: '" | append: shop.currency | append: "',
            changeCurrency(iso_code) {
              this.iso_code = iso_code
              setTimeout(() => {
                this.$refs.formCurrency.submit()
              },10)
            }
          }" -%}
          {% form 'currency', x-ref: "formCurrency", x-data: xdata %}

            <input type="hidden" name="currency" x-model="iso_code">

            <span class="py-4 hover:text-primary-600 flex items-center whitespace-nowrap cursor-default">
              <span>{{ localization.country.currency.iso_code }}</span>
              <a href="#" @click.prevent="toggle">
                {% render 'icon-chevron-down' %}
              </a>
            </span>

            <div 
              class="absolute right-0 top-full grid grid-cols-2 min-w-[160px] border bg-white"
              style="display: none"
              x-show="open"
              x-collapse.duration.300ms
              @click.outside="open = false;"
            >
              {% for currency in shop.enabled_currencies %}
                {%- if currency != cart.currency -%}
                  <a 
                    href="#" 
                    @click="changeCurrency('{{ currency.iso_code }}')" 
                    class="block p-2 hover:text-primary-600 whitespace-nowrap hover:bg-zinc-100"
                  >{{ currency.iso_code }}</a>
                {%- endif -%}
              {%- endfor -%}
            </div>

          {% endform %}
        </li>

        <li class="relative hidden lg:block">
          {%- assign xdata = "{
            open: false,
            toggle() {
              this.open = !this.open
            },

            iso_code: '" | append: localization.language.endonym_name | append: "',
            changeLanguage(iso_code) {
              this.iso_code = iso_code
              setTimeout(() => {
                this.$refs.formLanguage.submit()
              },10)
            }
          }" -%}
          {% form 'localization', x-ref: "formLanguage", x-data: xdata %}

            <input type="hidden" name="language_code" x-model="iso_code">

            <span class="py-4 hover:text-primary-600 flex items-center whitespace-nowrap cursor-default">
              <span>{{ localization.language.iso_code }}</span>
              <a href="#" @click.prevent="toggle">
                {% render 'icon-chevron-down' %}
              </a>
            </span>

            <div 
              class="absolute right-0 top-full min-w-[160px] border bg-white"
              x-cloak
              x-show="open"
              x-collapse.duration.300ms
              @click.outside="open = false;"
            >
              {% for language in localization.available_languages %}
                {%- if language != localization.language -%}
                  <a 
                    href="#" 
                    @click="changeLanguage('{{ language.iso_code }}')" 
                    class="block p-2 hover:text-primary-600 whitespace-nowrap hover:bg-zinc-100"
                  >{{ language.iso_code }}</a>
                {%- endif -%}
              {%- endfor -%}
            </div>
            
          {% endform %}
        </li>

        <li class="relative group hidden lg:block">
          {%- if shop.customer_accounts_enabled -%}
            {%- if customer -%}
              <a href="{{ routes.cart_url }}" class="py-4 hover:text-primary-600 flex items-center">{{ 'customer.log_in' | t }}</a>
            {%- else -%}
              <a href="{{ routes.cart_url }}" class="py-4 hover:text-primary-600 flex items-center whitespace-nowrap">
                <span>{{ 'customer.account_fallback' | t }}</span>
                {% render 'icon-chevron-down' %}
              </a>

              <div class="invisible opacity-0 top-[calc(100%+2rem)] pointer-events-none group-hover:visible group-hover:opacity-100 group-hover:top-full group-hover:pointer-events-auto absolute left-0 min-w-[160px] border bg-white p-0.5 transition-all-0.3">
                <a href="{{ routes.account_url }}" class="block p-4 hover:text-primary-600 whitespace-nowrap hover:bg-zinc-100"
                >{{ 'customer.account_fallback' | t }}</a>
                <a href="{{ routes.account_logout_url }}" class="block p-4 hover:text-primary-600 whitespace-nowrap hover:bg-zinc-100"
                >{{ 'customer.log_out' | t }}</a>
              </div>
              <span class="invisible opacity-0 top-[calc(100%+2rem)] pointer-events-none group-hover:visible group-hover:opacity-100 group-hover:top-full group-hover:pointer-events-auto absolute block left-1/2 border w-4 h-4 rotate-45 -translate-x-1/2 translate-y-[calc(-50%+1.5px)] bg-white transition-all-0.3" style="clip-path: polygon(0 0, 0 100%, 100% 0);"></span>
            {%- endif -%}
          {%- endif -%}
        </li>

        <li class="relative group hidden lg:block">
          <a 
            href="{{ routes.cart_url }}" 
            class="py-4 hover:text-primary-600 flex items-center whitespace-nowrap"
            x-data
            @click.prevent="$store.model.showModel('cart')"
          >
            <span>{{ 'templates.cart.title' | t }} ({{ cart.item_count }})</span>
            {% render 'icon-chevron-down' %}
          </a>

          <div class="invisible opacity-0 right-0 top-[calc(100%+2rem)] pointer-events-none group-hover:visible group-hover:opacity-100 group-hover:top-full group-hover:pointer-events-auto absolute min-w-[250px] border bg-white p-0.5 transition-all-0.3">
            {%- if cart.item_count > 0 -%}
              
            {%- else -%}
              <p class="px-4 py-8">{{ 'templates.cart.empty' | t }}</p>
            {%- endif -%}
          </div>
          <span class="invisible opacity-0 top-[calc(100%+2rem)] pointer-events-none group-hover:visible group-hover:opacity-100 group-hover:top-full group-hover:pointer-events-auto absolute block left-1/2 border w-4 h-4 transform rotate-45 -translate-x-1/2 translate-y-[calc(-50%+1.5px)] bg-white transition-all-0.3" style="clip-path: polygon(0 0, 0 100%, 100% 0);"></span>
        </li>
        
        <li>
          <a href="#" x-data @click.prevent="$store.model.showModel('search')" class="block py-4 hover:text-primary-600">
            {% render 'icon-search' %}
          </a>
        </li>
        <li class="lg:hidden">
          <a href="#" class="block py-4 hover:text-primary-600">
            {% render 'icon-cart' %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
